/* font initialization */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* layout common functions and variables initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  /* font-size: clamp(1rem, 1.6dvw, 1.6rem); */
}
.small-faded {
  font-size: clamp(14px, 1vw, 20px);
  color: rgba(0, 0, 0, 0.6);
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.bold-45 {
  font-size: clamp(1.8rem, 3vw, 55px);
  font-weight: bold;
  
}
.semi-bold{
    font-weight: 600;
    font-size: clamp(20px, 1.3vw, 30px);
}
.flex {
  display: flex;
}
.primary-btn {
  background-color: rgba(255, 144, 14, 0.8);
  padding: clamp(15px, 1.5vw, 40px);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
.primary-btn:hover {
  background: linear-gradient(
    to top,
    rgba(255, 144, 14, .6), rgba(255, 144, 14, .2)
  );
  color: grey;
  transform: translateY(-5%);
}
p {
  line-height: 1.6;
  /* this is not a good practice tbh */
  /* word-wrap: break-word;      
  overflow-wrap: break-word; */  
}

/* header section */

.header {
  padding: 6vh 12vw;
}
nav,
.nav-items {
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  column-gap: 2vw;
}

.header-block {
  width: 50vw;
  text-align: center;
  margin: 4vw auto;
}
.header-block-title,
.header-block-text,
.header-btn {
  margin-block-end: 2vw;
}

.header-block-title {
  font-size: clamp(2rem, 4vw, 70vw);
}
.header-image {
  width: 100%;
}
@media screen and (max-width: 767px) {
  nav {
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    row-gap: 2vw;
  }
  .nav-items li {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .nav-items li:hover {
    background-color: rgba(255, 144, 14, 0.1);
  }
  .header-block {
    width: 100%;
    text-align: center;
  }
}

/* feature section */
.feature-section {
  width: 76vw;
  margin: 8vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}
.image-grid img {
  width: 100%;
}
.feature-block {
  padding: 2vh 4vw;
}
/* .feature-block,
.image-grid {
  flex: 1;
} */
.feature-block h2,
p {
  margin-block-end: 2vh;
}
.feature-block span {
  color: orange;
}

@media screen and (max-width: 767px) {
  .feature-section {
    flex-direction: column;
  }
  .image-grid {
    display: flex;
    flex-direction: column;
  }
  .feature-block {
    text-align: center;
  }
}

/* hero section */
.hero-section-container {
  width: 76vw;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
}

.hero-section {
    width: 100%;
    display: flex;
    gap: 3vw;
    align-items: center;
}

.hero-title {
  border-left: clamp(6px, 0.5vw, 12px) solid orange;
  padding-left: clamp(15px, 0.8vw, 20px); /* gives space between stroke and text */
}
.hero-image {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 2vh;
}

.hero-image-block {
    flex: 1;
}
.hero-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
    padding: 5px;
    
}

.hero-section h2, h4, p {
    margin-block-end: 1vh;
}
.hero-text-card {
    
    padding: clamp(15px, 1.5vw, 35px);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.08); */
     box-shadow:  0 0 4px rgba(0, 0, 0, 0.04),
  0 0 12px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.hero-btn {
  width: 50%;
  margin: 4vh auto;
}



@media screen and (max-width: 767px) {
    .hero-section {
        flex-direction: column;
    }
    .hero-image {
        
        margin-top: 3vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  
}

/* facts */

.facts-section {
  width: 76vw;
  margin: 4vh auto;
}
.facts-cards-block {
  width: 100%;
  padding: 4vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  
}
.facts-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid orange;
  padding: 1vw;
  border-radius: 5px;
}
.facts-intro-block h2, p {
  margin-block-end: 2vh ;
}


@media screen and (max-width: 767px) {
    .facts-intro-block {
      /* width: 100%; */
      text-align: center;
    }
    .facts-cards-block {
      grid-template-columns: repeat(2, 1fr);
    }
    .facts-card p{
      text-align: center;
    }
}

/* footer section */

.footer {
  width: 76vw;
  margin: 3vh auto;
  text-align: center;
}
.footer-text-block {
  margin-bottom: 2vh;
}
.footer-text-block h2, p{
  margin-block-end: 2vh;
}
.sponsor-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsor-logo {
  filter: grayscale(100%);
  scale: 0.8;
}
.copyright-text {
  margin: 5vh auto;
  background-color: rgba(255, 244, 231, 1);
  padding: 3vh ;
  border-radius: 8px;
}

@media screen and (max-width:767px) {
  .sponsor-block {
    flex-direction: column;
    gap: 2vw;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .feature-section {
    gap: 3vw;
  }

  .facts-cards-block {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section {
    flex-direction: row;
    align-items: flex-start;
  }

  .header-block {
    width: 70vw;
  }
  .sponsor-logo {
    max-width: 14vw;
  }
}

